.region-content .references-index-tree ul,
.references-index-tree ul { list-style-type: none; margin: 0; padding: 0;}
.region-content .references-index-tree ul ul,
.references-index-tree ul ul { margin-left: 1.5em; }
.region-content .references-index-tree li,
.references-index-tree li {  margin: 0; padding: 0; }
.region-content .references-index-tree li div.item,
.references-index-tree li div.item { margin: 0;  margin-top: 2px; padding: 5px; border: 1px solid #CCC; line-height: 2em; cursor: move; }
.ui-state-highlight { margin: 0 5px 5px 5px; padding: 5px; line-height: 2em; }

.branchclosed ul {
  display:none;
  visibility:hidden;
}
.has-children,
.branchclosed {
  background-color:#F1F1F1;
}
.references-index-tree {
  position: relative;
  z-index: 0;
}
.ajax-status {
  right: 0;
  position: absolute;
  z-index: 1001;
}